In [29]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import psycopg2

# assessment

In [2]:
df = pd.read_csv('../data/assessment/Secured_Property_Assessment_Roll_FY13_Q4.csv')

/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2871: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,Situs_Address,Situs_Zip,APN,RE,RE_Improvements,Fixtures_Value,PP_Value,District,Taxable_Value,geom
0,NaN,94102,0001001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8086657345267, -122.421558691582)"
1,NaN,94102,0002001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8087296429956, -122.420498649163)"
2,NaN,94102,0004002,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8085082551122, -122.415083280065)"
3,NaN,94102,0005001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8084147785698, -122.416681695182)"
4,NaN,94102,0006001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8083224324003, -122.418348971767)"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204541 entries, 0 to 204540
Data columns (total 10 columns):
Situs_Address      202778 non-null object
Situs_Zip          204478 non-null object
APN                204541 non-null object
RE                 204541 non-null object
RE_Improvements    204541 non-null object
Fixtures_Value     1146 non-null object
PP_Value           204541 non-null object
District           203974 non-null object
Taxable_Value      204541 non-null object
geom               204541 non-null object
dtypes: object(10)
memory usage: 17.2+ MB

In [5]:
list(df.columns)

['Situs_Address',
 'Situs_Zip',
 'APN',
 'RE',
 'RE_Improvements',
 'Fixtures_Value',
 'PP_Value',
 'District',
 'Taxable_Value',
 'geom']

In [6]:
df.RE = df.RE.apply(lambda x: x.strip('$'))

In [7]:
df.RE = df.RE.astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204541 entries, 0 to 204540
Data columns (total 10 columns):
Situs_Address      202778 non-null object
Situs_Zip          204478 non-null object
APN                204541 non-null object
RE                 204541 non-null float64
RE_Improvements    204541 non-null object
Fixtures_Value     1146 non-null object
PP_Value           204541 non-null object
District           203974 non-null object
Taxable_Value      204541 non-null object
geom               204541 non-null object
dtypes: float64(1), object(9)
memory usage: 17.2+ MB

In [26]:
%run ../code/makedbs.py
df = make_assessment()
df.head()

,Situs_Address,Situs_Zip,APN,RE,RE_Improvements,Fixtures_Value,PP_Value,District,Taxable_Value,geom
0,NaN,94102,0001001,0,0,NaN,0,General Property,$0.00,"(37.8086657345267, -122.421558691582)"
1,NaN,94102,0002001,0,0,NaN,0,General Property,$0.00,"(37.8087296429956, -122.420498649163)"
2,NaN,94102,0004002,0,0,NaN,0,General Property,$0.00,"(37.8085082551122, -122.415083280065)"
3,NaN,94102,0005001,0,0,NaN,0,General Property,$0.00,"(37.8084147785698, -122.416681695182)"
4,NaN,94102,0006001,0,0,NaN,0,General Property,$0.00,"(37.8083224324003, -122.418348971767)"

In [27]:
df.Taxable_Value

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204541 entries, 0 to 204540
Data columns (total 10 columns):
Situs_Address      202778 non-null object
Situs_Zip          204478 non-null object
APN                204541 non-null object
RE                 204541 non-null float64
RE_Improvements    204541 non-null float64
Fixtures_Value     1146 non-null object
PP_Value           204541 non-null float64
District           203974 non-null object
Taxable_Value      204541 non-null object
geom               204541 non-null object
dtypes: float64(3), object(7)
memory usage: 17.2+ MB