In [29]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import psycopg2

# assessment

In [2]:
df = pd.read_csv('../data/assessment/Secured_Property_Assessment_Roll_FY13_Q4.csv')

/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2871: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,Situs_Address,Situs_Zip,APN,RE,RE_Improvements,Fixtures_Value,PP_Value,District,Taxable_Value,geom
0,NaN,94102,0001001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8086657345267, -122.421558691582)"
1,NaN,94102,0002001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8087296429956, -122.420498649163)"
2,NaN,94102,0004002,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8085082551122, -122.415083280065)"
3,NaN,94102,0005001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8084147785698, -122.416681695182)"
4,NaN,94102,0006001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8083224324003, -122.418348971767)"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204541 entries, 0 to 204540
Data columns (total 10 columns):
Situs_Address      202778 non-null object
Situs_Zip          204478 non-null object
APN                204541 non-null object
RE                 204541 non-null object
RE_Improvements    204541 non-null object
Fixtures_Value     1146 non-null object
PP_Value           204541 non-null object
District           203974 non-null object
Taxable_Value      204541 non-null object
geom               204541 non-null object
dtypes: object(10)
memory usage: 17.2+ MB

In [5]:
list(df.columns)

['Situs_Address',
 'Situs_Zip',
 'APN',
 'RE',
 'RE_Improvements',
 'Fixtures_Value',
 'PP_Value',
 'District',
 'Taxable_Value',
 'geom']

In [6]:
df.RE = df.RE.apply(lambda x: x.strip('$'))

In [7]:
df.RE = df.RE.astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204541 entries, 0 to 204540
Data columns (total 10 columns):
Situs_Address      202778 non-null object
Situs_Zip          204478 non-null object
APN                204541 non-null object
RE                 204541 non-null float64
RE_Improvements    204541 non-null object
Fixtures_Value     1146 non-null object
PP_Value           204541 non-null object
District           203974 non-null object
Taxable_Value      204541 non-null object
geom               204541 non-null object
dtypes: float64(1), object(9)
memory usage: 17.2+ MB

In [67]:
%run ../code/makedbs.py

In [68]:
make_assessment()

/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2981: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [62]:
print df.info()
df.head()

AttributeError: 'NoneType' object has no attribute 'info'

In [61]:
list(df.columns)

['Situs_Address',
 'Situs_Zip',
 'APN',
 'RE',
 'RE_Improvements',
 'PP_Value',
 'District',
 'Taxable_Value',
 'lat',
 'lon']

# business

In [65]:
df = pd.read_csv('../data/business/Registered_Business_Locations_-_San_Francisco.csv')
df.head()

,Location_ID,Business_Account_Number,Ownership_Name,DBA Name,Street_Address,City,State,Zip_Code,Business_Start_Date,Business_End_Date,Location Start Date,Location_End_Date,Mail_Address,Mail_City_State_Zip,Class Code,PBC Code,Business_Location
0,0000024-02-999,24,EASTMAN KODAK CO,EASTMAN KODAK CO,343 STATE ST,ROCHESTER,NY,14650,01/01/2003,NaN,01/01/2003,NaN,343 STATE STREET,ROCHESTER NY 14650-0904,08,5995,"343 STATE ST\nROCHESTER, NY 14650\n(43.161198,..."
1,0000028-02-001,28,FERRANDO LOUISE,3101 LAGUNA APTS,3101 LAGUNA ST,San Francisco,CA,94123,09/30/1993,NaN,09/30/1993,NaN,2799 CALIFORNIA ST,SAN FRANCISCO CA 94115-2513,07,7520,"3101 LAGUNA ST\nSan Francisco, CA 94123\n(37.7..."
2,0000052-01-001,52,IDEAL NOVAK CORP,IDEAL NOVAK CORP,8 MENDOSA AVE,San Francisco,CA,94116,10/01/1968,NaN,10/01/1968,NaN,8 MENDOSA AVE,SAN FRANCISCO CA 94116-1942,03,6511,"8 MENDOSA AVE\nSan Francisco, CA 94116\n(37.74..."
3,0000071-01-001,71,TOURNAHU GEORGE L,TOURNAHU ARMS,1842 JEFFERSON ST,San Francisco,CA,94123,10/01/1968,NaN,10/01/1968,NaN,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"1842 JEFFERSON ST\nSan Francisco, CA 94123\n(3..."
4,0000071-02-001,71,TOURNAHU GEORGE L,3301 BRODERICK APARTMENTS,3301 BRODERICK ST,San Francisco,CA,94123,10/01/1968,NaN,05/01/1988,NaN,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"3301 BRODERICK ST\nSan Francisco, CA 94123\n(3..."

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156111 entries, 0 to 156110
Data columns (total 17 columns):
Location_ID                156111 non-null object
Business_Account_Number    156111 non-null int64
Ownership_Name             156111 non-null object
DBA Name                   156109 non-null object
Street_Address             156109 non-null object
City                       155839 non-null object
State                      155463 non-null object
Zip_Code                   156067 non-null float64
Business_Start_Date        156111 non-null object
Business_End_Date          17770 non-null object
Location Start Date        156111 non-null object
Location_End_Date          26668 non-null object
Mail_Address               156110 non-null object
Mail_City_State_Zip        156110 non-null object
Class Code                 155969 non-null object
PBC Code                   155739 non-null object
Business_Location          155731 non-null object
dtypes: float64(1), int64(1), object(15)
memory usage: 21.4+ MB

In [71]:
for i in df.columns: print i

Location_ID
Business_Account_Number
Ownership_Name
DBA Name
Street_Address
City
State
Zip_Code
Business_Start_Date
Business_End_Date
Location Start Date
Location_End_Date
Mail_Address
Mail_City_State_Zip
Class Code
PBC Code
Business_Location

In [76]:
%run ../code/makedbs.py
make_business()

In [78]:
pbc = pd.read_csv('../data/business/Principal_Business_Code__PBC__List.csv')
print pbc.shape
pbc.head()

(672, 4)

,Ownership_Type,Business_Major_Class,Business_Minor_Class,Description
0,S,0,0,FIXED PLACE OF BUSINESS BP99
1,P,0,0,FIXED PLACE OF BUSINESS BP99
2,C,0,0,FIXED PLACE OF BUSINESS BP99
3,S,1,2634,AGENT/BROKER - DURABLE BP50
4,S,1,2675,AGENT/BROKER - NONDURABLE BP51

In [88]:
pbc.groupby('Business_Major_Class').count()

                      Ownership_Type  Business_Minor_Class  Description
Business_Major_Class
0                                  3                     3            3
1                                 30                    30           30
2                                 37                    37           37
3                                 20                    20           20
4                                 10                    10           10
5                                  8                     8            8
6                                 11                    11           11
7                                243                   243          243
8                                143                   143          143
9                                  7                     7            7
10                                15                    15           15
11                                 9                     9            9
12                                 3                     3            3
13                               123                   123          123
15                                 4                     4            4
16                                 3                     3            3
18                                 3                     3            3

In [106]:
pbc[pbc.Business_Major_Class == 8]

,Ownership_Type,Business_Major_Class,Business_Minor_Class,Description
362,S,8,612,BAKERIES SELLING AT RETAIL BP205
363,S,8,3012,"SELLING DOOR-TO-DOOR,BY PHONE/PARTY PLAN,MOBI..."
364,S,8,3038,CATALOG OR MAIL ORDER BP5961
365,S,8,3053,VENDING MACHINE SELLING BP5962
366,S,8,3079,EATING PLACES (MEALS OR SNACKS) RESTAURANTS B...
367,S,8,3095,DRINKING PLACES(ALCOHOLIC BEVERAGES) BP5813
368,S,8,3210,GROCERY STORES(GENERAL LINE) BP541
369,S,8,3236,"FOOD STORES(MEAT,PRODUCE,CANDY,ETC) BP54"
370,S,8,3251,LIQUOR STORES BP592
371,S,8,3277,DRUG STORES BP591
372,S,8,3319,NEW CAR DEALERS BP551
373,S,8,3335,USED CAR DEALERS BP552
374,S,8,3517,"AUTO DEALERS(MOTORCYCLES,RECREATION VECH.) BP55"
375,S,8,3533,"TIRES,ACCESSORIES,AND PARTS BP553"
376,S,8,3558,GASOLINE SERVICE STATIONS BP554
377,S,8,3715,VARIETY STORES BP533
378,S,8,3731,GENERAL MERCHANDISE STORES BP539
379,S,8,3756,SHOE STORES BP566
380,S,8,3772,MEN'S AND BOYS' CLOTHING STORES BP561
381,S,8,3913,WOMEN'S READY-TO-WEAR STORES BP562S 08 3921 W...
382,S,8,3939,FAMILY CLOTHING STORES BP565
383,S,8,3954,APPAREL AND ACCESSORY STORES BP569
384,S,8,3970,FURNITURE STORES BP571
385,S,8,3988,COMPUTER AND SOFTWARE STORES BP5734
386,S,8,3996,"TV,AUDIO,AND ELECTRONICS BP5731"
387,S,8,4119,HOUSEHOLD APPLIANCE STORES BP572
388,S,8,4317,"HOME FURNISHINGS STORES(CHINA,FLOOR COVER.) B..."
389,S,8,4333,MUSIC AND RECORD STORES BP573
390,S,8,4416,BUILDING MATERIALS DEALERS BP521
391,S,8,4432,"PAINT,GLASS,AND WALLPAPER STORES BP523"
...,...,...,...,...
475,C,8,4600,"PIPE LINES,EXCEPT NATURAL GAS BP46"
476,C,8,4700,MISCELLANEOUS TRANSPORTATION SERVICES BP47
477,C,8,4830,RADIO AND TELEVISION BROADCASTING BP483
478,C,8,5220,BUILDING MATERIALS DEALERS BP52
479,C,8,5251,HARDWARE STORES BP525
480,C,8,5265,GARDEN SUPPLIES AND MOBILE HOME DEALERS BP52
481,C,8,5300,GENERAL MERCHANDISE STORES BP53
482,C,8,5410,GROCERY STORES BP541
483,C,8,5490,OTHER FOOD STORES BP54
484,C,8,5495,OTHER RETAIL STORES BP599
485,C,8,5515,MOTOR VEHICLE DEALERS BP55
486,C,8,5541,GASOLINE SERVICE STATIONS BP554
487,C,8,5598,AUTOMOTIVE DEALERS BP55
488,C,8,5600,APPAREL AND ACCESSORY STORES BP56
489,C,8,5700,FURNITURE AND HOME FURNISHINGS STORES BP57
490,C,8,5800,EATING AND DRINKING PLACES (RESTAURANTS) BP58
491,C,8,5912,DRUG STORES AND PROPRIETARY STORES BP591
492,C,8,5921,LIQUOR STORES BP592
493,C,8,5995,RETAIL STORES BP59
494,C,8,6030,MUTUAL SAVINGS BANK BP60
495,C,8,6060,BANK HOLDING COMPANIES BP6712
496,C,8,6090,"BANKS, EXCEPT MUTUAL SAVINGS BANKS BP602"
497,C,8,6120,SAVINGS AND LOAN ASSOCIATIONS BP603
498,C,8,6140,PERSONAL CREDIT INSTITUTIONS BP614
499,C,8,6299,COMMODITY CONTRACT BROKERS AND DEALER SEC BP62
500,C,8,6355,LIFE INSURANCE BP631
501,C,8,6356,MUTUAL INSURANCE EXCEPT LIFE OR MARINE BP639
502,C,8,6359,OTHER INSURANCE COMPANIES BP639
503,C,8,7900,AMUSEMENT RECREATION SERVICE EXCEPT MOTION PI...
504,C,8,8888,UNABLE TO CLASSIFY BP99

In [104]:
df.groupby('Class Code').count()

,Location_ID,Business_Account_Number,Ownership_Name,DBA Name,Street_Address,City,State,Zip_Code,Business_Start_Date,Business_End_Date,Location Start Date,Location_End_Date,Mail_Address,Mail_City_State_Zip,PBC Code,Business_Location
Class Code,,,,,,,,,,,,,,,,
00,23,23,23,23,23,23,23,23,23,0,23,3,23,23,23,23
01,3087,3087,3087,3087,3087,3086,3083,3087,3087,248,3087,435,3087,3087,3085,3079
02,12234,12234,12234,12234,12234,12183,12049,12232,12234,1418,12234,1823,12234,12234,12230,12190
03,9730,9730,9730,9730,9730,9730,9728,9730,9730,651,9730,1331,9730,9730,9618,9727
04,689,689,689,689,689,689,687,689,689,64,689,90,689,689,687,689
05,57,57,57,57,57,56,56,57,57,4,57,10,57,57,57,56
06,407,407,407,407,407,406,397,407,407,29,407,49,407,407,404,405
07,65906,65906,65906,65905,65906,65820,65760,65897,65906,6938,65906,10650,65906,65906,65823,65825
08,20322,20322,20322,20322,20322,20280,20229,20321,20322,2227,20322,3084,20322,20322,20305,20296
09,164,164,164,164,164,164,163,164,164,19,164,21,164,164,164,164
10,663,663,663,663,663,619,618,663,663,37,663,56,663,663,663,658
11,5292,5292,5292,5292,5292,5281,5281,5291,5292,564,5292,652,5292,5292,5291,5163
12,215,215,215,215,215,214,212,215,215,18,215,25,215,215,215,213
13,4497,4497,4497,4497,4497,4473,4386,4497,4497,475,4497,633,4497,4497,4492,4467
15,1449,1449,1449,1449,1449,1447,1442,1449,1449,124,1449,228,1449,1449,1448,1449
16,5,5,5,5,5,5,5,5,5,0,5,0,5,5,5,5
n.a.,31229,31229,31229,31228,31227,31222,31203,31198,31229,4953,31229,7563,31228,31228,31229,31180

In [112]:
major_names = {'00': 'fixed place of business',
               '01': 'agent, broker',
               '02': 'construction',
               '03': 'hotel',
               '04': 'laundry',
               '05': 'credit',
               '06': 'equipment rental',
               '07': 'mining, entertainment, medical',
               '08': 'clothing, furniture, auto, insurance',
               '09': 'warehouse',
               '10': 'utility',
               '11': 'taxi',
               '12': 'trucking',
               '13': 'industrial supply',
               '15': 'arcitectural',
               '16': 'garage',
               '18': 'firearms',
               'n.a.': 'n.a.'}

,Location_ID,Business_Account_Number,Ownership_Name,DBA Name,Street_Address,City,State,Zip_Code,Business_Start_Date,Business_End_Date,Location Start Date,Location_End_Date,Mail_Address,Mail_City_State_Zip,Class Code,PBC Code,Business_Location,major_class
0,0000024-02-999,24,EASTMAN KODAK CO,EASTMAN KODAK CO,343 STATE ST,ROCHESTER,NY,14650,01/01/2003,NaN,01/01/2003,NaN,343 STATE STREET,ROCHESTER NY 14650-0904,08,5995,"343 STATE ST\nROCHESTER, NY 14650\n(43.161198,...","clothing, furniture, auto, insurance"
1,0000028-02-001,28,FERRANDO LOUISE,3101 LAGUNA APTS,3101 LAGUNA ST,San Francisco,CA,94123,09/30/1993,NaN,09/30/1993,NaN,2799 CALIFORNIA ST,SAN FRANCISCO CA 94115-2513,07,7520,"3101 LAGUNA ST\nSan Francisco, CA 94123\n(37.7...","mining, entertainment, medical"
2,0000052-01-001,52,IDEAL NOVAK CORP,IDEAL NOVAK CORP,8 MENDOSA AVE,San Francisco,CA,94116,10/01/1968,NaN,10/01/1968,NaN,8 MENDOSA AVE,SAN FRANCISCO CA 94116-1942,03,6511,"8 MENDOSA AVE\nSan Francisco, CA 94116\n(37.74...",hotel
3,0000071-01-001,71,TOURNAHU GEORGE L,TOURNAHU ARMS,1842 JEFFERSON ST,San Francisco,CA,94123,10/01/1968,NaN,10/01/1968,NaN,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"1842 JEFFERSON ST\nSan Francisco, CA 94123\n(3...","mining, entertainment, medical"
4,0000071-02-001,71,TOURNAHU GEORGE L,3301 BRODERICK APARTMENTS,3301 BRODERICK ST,San Francisco,CA,94123,10/01/1968,NaN,05/01/1988,NaN,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"3301 BRODERICK ST\nSan Francisco, CA 94123\n(3...","mining, entertainment, medical"

In [178]:
%run ../code/makedbs.py
df = make_business()
print df.info()
df.head()

AttributeError: 'DataFrame' object has no attribute 'ilot'

In [165]:
def getlatlon(v):
    if type(v) == float: return 0, 0
    s = v.split('\n')[-1]
    if len(s) == 0: return 0, 0
    return eval(s)

In [159]:
s = np.array(s)
s[s == 0].shape

(5026,)

In [175]:
for i in df.columns: print i

Ownership_Name
DBA Name
Street_Address
City
State
Zip_Code
major_class
minor_class
lat
lon

In [199]:
%run ../code/makedbs.py

In [200]:
df = load_business()

In [201]:
df = clean_business(df)
df.head()

<string>:163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
<string>:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
<string>:167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
<string>:168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Ownership_Name,DBA Name,Street_Address,City,State,Zip_Code,major_class,minor_class,lat,lon
0,EASTMAN KODAK CO,EASTMAN KODAK CO,343 STATE ST,ROCHESTER,NY,14650,"clothing, furniture, auto, insurance",0,43.161198,-77.619282
1,FERRANDO LOUISE,3101 LAGUNA APTS,3101 LAGUNA ST,San Francisco,CA,94123,"mining, entertainment, medical",0,37.799779,-122.430988
2,IDEAL NOVAK CORP,IDEAL NOVAK CORP,8 MENDOSA AVE,San Francisco,CA,94116,hotel,0,37.748921,-122.465050
3,TOURNAHU GEORGE L,TOURNAHU ARMS,1842 JEFFERSON ST,San Francisco,CA,94123,"mining, entertainment, medical",0,37.804734,-122.442997
4,TOURNAHU GEORGE L,3301 BRODERICK APARTMENTS,3301 BRODERICK ST,San Francisco,CA,94123,"mining, entertainment, medical",0,37.800835,-122.444748

# sfpd

In [202]:
df = pd.read_csv('../data/sfpd/SFPD_Incidents_-_from_1_January_2003.csv')
df.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,150912717,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Sunday,10/18/2015,23:54,TARAVAL,"ARREST, BOOKED",19TH AV / HOLLOWAY AV,-122.475222,37.721057,"(37.7210571460375, -122.475222189932)",15091271765016
1,150912745,BURGLARY,"BURGLARY, HOT PROWL, FORCIBLE ENTRY",Sunday,10/18/2015,23:37,CENTRAL,"ARREST, BOOKED",700 Block of BAY ST,-122.419359,37.804838,"(37.8048384367685, -122.419359266314)",15091274505081
2,150912698,OTHER OFFENSES,TRAFFIC VIOLATION,Sunday,10/18/2015,23:34,INGLESIDE,"ARREST, BOOKED",PERSIA AV / DUBLIN ST,-122.426390,37.718561,"(37.7185612508135, -122.426390080828)",15091269865015
3,150912795,ASSAULT,THREATS AGAINST LIFE,Sunday,10/18/2015,23:30,TENDERLOIN,"ARREST, BOOKED",200 Block of LEAVENWORTH ST,-122.414218,37.783259,"(37.7832593295025, -122.414217804322)",15091279519057
4,150912701,ROBBERY,"ROBBERY, BODILY FORCE",Sunday,10/18/2015,23:30,SOUTHERN,NONE,1000 Block of MARKET ST,-122.411340,37.781271,"(37.7812707434494, -122.411339562557)",15091270103074

In [203]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1830772 entries, 0 to 1830771
Data columns (total 13 columns):
IncidntNum    int64
Category      object
Descript      object
DayOfWeek     object
Date          object
Time          object
PdDistrict    object
Resolution    object
Address       object
X             float64
Y             float64
Location      object
PdId          int64
dtypes: float64(2), int64(2), object(9)
memory usage: 195.5+ MB

In [204]:
def listcols(df):
    for i in df.columns: print i

In [205]:
listcols(df)

IncidntNum
Category
Descript
DayOfWeek
Date
Time
PdDistrict
Resolution
Address
X
Y
Location
PdId

In [212]:
%run ../code/makedbs.py

In [214]:
make_sfpd()

In [226]:
list(df.Category.unique())

['OTHER OFFENSES',
 'BURGLARY',
 'ASSAULT',
 'ROBBERY',
 'WARRANTS',
 'VANDALISM',
 'NON-CRIMINAL',
 'LARCENY/THEFT',
 'STOLEN PROPERTY',
 'FORGERY/COUNTERFEITING',
 'VEHICLE THEFT',
 'SUSPICIOUS OCC',
 'DRUG/NARCOTIC',
 'TRESPASS',
 'FRAUD',
 'WEAPON LAWS',
 'MISSING PERSON',
 'SECONDARY CODES',
 'SEX OFFENSES, FORCIBLE',
 'PORNOGRAPHY/OBSCENE MAT',
 'ARSON',
 'DISORDERLY CONDUCT',
 'LOITERING',
 'DRIVING UNDER THE INFLUENCE',
 'LIQUOR LAWS',
 'DRUNKENNESS',
 'GAMBLING',
 'KIDNAPPING',
 'PROSTITUTION',
 'EXTORTION',
 'BRIBERY',
 'SUICIDE',
 'RUNAWAY',
 'FAMILY OFFENSES',
 'BAD CHECKS',
 'EMBEZZLEMENT',
 'SEX OFFENSES, NON FORCIBLE',
 'TREA',
 'RECOVERED VEHICLE']

In [230]:
df.groupby('Category').count().sort_values(by='Descript', ascending=False)

,Descript,Date,Time,PdDistrict,Address,X,Y
Category,,,,,,,
LARCENY/THEFT,370893,370893,370893,370893,370893,370893,370893
OTHER OFFENSES,261402,261402,261402,261402,261402,261402,261402
NON-CRIMINAL,193889,193889,193889,193889,193889,193889,193889
ASSAULT,160375,160375,160375,160375,160375,160375,160375
VEHICLE THEFT,111328,111328,111328,111328,111328,111328,111328
DRUG/NARCOTIC,109631,109631,109631,109631,109631,109631,109631
VANDALISM,93494,93494,93494,93494,93494,93494,93494
WARRANTS,87283,87283,87283,87283,87283,87283,87283
BURGLARY,76559,76559,76559,76559,76559,76559,76559
SUSPICIOUS OCC,65614,65614,65614,65614,65614,65614,65614
MISSING PERSON,53935,53935,53935,53935,53935,53935,53935
ROBBERY,47419,47419,47419,47419,47419,47419,47419
FRAUD,34903,34903,34903,34903,34903,34903,34903
FORGERY/COUNTERFEITING,21516,21516,21516,21516,21516,21516,21516
SECONDARY CODES,20924,20924,20924,20924,20924,20924,20924
WEAPON LAWS,17951,17951,17951,17951,17951,17951,17951
PROSTITUTION,15362,15362,15362,15362,15362,15362,15362
TRESPASS,15190,15190,15190,15190,15190,15190,15190
STOLEN PROPERTY,9740,9740,9740,9740,9740,9740,9740
"SEX OFFENSES, FORCIBLE",9175,9175,9175,9175,9175,9175,9175
DRUNKENNESS,8833,8833,8833,8833,8833,8833,8833
DISORDERLY CONDUCT,8729,8729,8729,8729,8729,8729,8729
RECOVERED VEHICLE,6346,6346,6346,6346,6346,6346,6346
DRIVING UNDER THE INFLUENCE,4834,4834,4834,4834,4834,4834,4834
KIDNAPPING,4756,4756,4756,4756,4756,4756,4756
RUNAWAY,3940,3940,3940,3940,3940,3940,3940
LIQUOR LAWS,3801,3801,3801,3801,3801,3801,3801
ARSON,3162,3162,3162,3162,3162,3162,3162
EMBEZZLEMENT,2520,2520,2520,2520,2520,2520,2520
LOITERING,2336,2336,2336,2336,2336,2336,2336
SUICIDE,1105,1105,1105,1105,1105,1105,1105
FAMILY OFFENSES,1062,1062,1062,1062,1062,1062,1062
BAD CHECKS,845,845,845,845,845,845,845
BRIBERY,647,647,647,647,647,647,647
EXTORTION,593,593,593,593,593,593,593
"SEX OFFENSES, NON FORCIBLE",326,326,326,326,326,326,326
GAMBLING,298,298,298,298,298,298,298
PORNOGRAPHY/OBSCENE MAT,46,46,46,46,46,46,46
TREA,10,10,10,10,10,10,10

In [235]:
%run ../code/makedbs.py
df = load_sfpd()
df = clean_sfpd(df)
print df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1830772 entries, 0 to 1830771
Data columns (total 7 columns):
Category      object
Descript      object
PdDistrict    object
Address       object
lon           float64
lat           float64
datetime      object
dtypes: float64(2), object(5)
memory usage: 111.7+ MB
None

,Category,Descript,PdDistrict,Address,lon,lat,datetime
0,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",TARAVAL,19TH AV / HOLLOWAY AV,-122.475222,37.721057,10/18/2015 23:54
1,BURGLARY,"BURGLARY, HOT PROWL, FORCIBLE ENTRY",CENTRAL,700 Block of BAY ST,-122.419359,37.804838,10/18/2015 23:37
2,OTHER OFFENSES,TRAFFIC VIOLATION,INGLESIDE,PERSIA AV / DUBLIN ST,-122.426390,37.718561,10/18/2015 23:34
3,ASSAULT,THREATS AGAINST LIFE,TENDERLOIN,200 Block of LEAVENWORTH ST,-122.414218,37.783259,10/18/2015 23:30
4,ROBBERY,"ROBBERY, BODILY FORCE",SOUTHERN,1000 Block of MARKET ST,-122.411340,37.781271,10/18/2015 23:30

In [236]:
listcols(df)

Category
Descript
PdDistrict
Address
lon
lat
datetime

In [ ]:
%run ../code/makedbs.py
make_sfpd()